#
# Caching Server
#

proxy_cache_path /tmp/nginx levels=1:2 keys_zone=my_zone:10m inactive=60m;
proxy_cache_key "$scheme$request_method$host$request_uri";

server {
  listen   80;
  server_name  <%= @application[:domains].join(" ") %> <%= node[:hostname] %>;
  access_log  <%= node[:nginx][:log_dir] %>/<%= @application[:domains].first %>.cache.access.log;
  error_log  <%= node[:nginx][:log_dir] %>/<%= @application[:domains].first %>.cache.error.log;

  location /health-check {
    access_log off;
    return 200;
  }  

  location / {
    # ELB health check
    if ($http_x_forwarded_proto != 'https') {
      rewrite ^(.*)$ https://$host$1 permanent;
    }

    add_header 'Access-Control-Allow-Origin' 'https://bodshaperz.com';
    add_header 'Access-Control-Allow-Credentials' 'true';
    add_header 'Access-Control-Allow-Methods' 'GET';

    # Server cache
    proxy_cache my_zone;
    proxy_cache_bypass  $http_cache_control;
    add_header X-Proxy-Cache $upstream_cache_status;
    include <%= node[:nginx][:dir] %>/proxy_params;

    # Proxy to the file server
    proxy_pass http://localhost:9000;
  }
}

#
# File Server
#

server {
  listen 9000 default_server;
  server_name  localhost;

  root   <%= @application[:absolute_document_root] %>;
  index  index.html index.htm index.php;

  charset utf-8;

  access_log  <%= node[:nginx][:log_dir] %>/<%= @application[:domains].first %>.access.log;
  error_log  <%= node[:nginx][:log_dir] %>/<%= @application[:domains].first %>.error.log;

  # Prevent clients from accessing hidden files (starting with a dot)
  # This is particularly important if you store .htpasswd files in the site hierarchy
  location ~* (?:^|/)\. {
    deny all;
  }

  # Prevent clients from accessing to backup/config/source files
  location ~* (?:\.(?:bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)|~)$ {
    deny all;
  }

  # Block all svn access
  if ($request_uri ~* ^.*\.svn.*$) {
    return 404;
  }

  # Block all git access
  if ($request_uri ~* ^.*\.git.*$) {
    return 404;
  }

  location / {
    expires 1d;
    add_header Cache-Control "public";
    try_files $uri $uri/ /index.html?/$request_uri;
  }
}

#
# www.domain.com
#

server {
  server_name www.<%= @application[:domains].first %>;
  return 301 https://<%= @application[:domains].first %>$request_uri;
}
